<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="text-white" style="background: rgb(33, 32, 32); font-size: 1.2vw;">
    <div class="maincontainer d-flex flex-column align-items-center justify-content-center p-5 gap-5">
        <div class="info1 bg-dark p-2 rounded-2">
            <h1><i class="fa-solid fa-music fa-bounce" style="color: #00ffcc;"></i> What is user verification?</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci ipsam possimus voluptas doloremque voluptatem quasi! Consectetur totam voluptatum harum! Delectus error architecto vero illum cupiditate iste autem! Rerum, reprehenderit aut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi commodi unde adipisci deserunt voluptate explicabo pariatur, ullam quis, reprehenderit suscipit sapiente mollitia sint rerum cumque temporibus perspiciatis quas laborum architecto.</p>
        </div>
        <div class="verified-batch bg-dark p-3 rounded-3">
            <div>Here is What a typical Mushify Verified Flag looks like:</div>
        </div>
        <div class="icon">
            <i class="fa-solid fa-font-awesome fa-fade" style="color: #07f2cb; font-size: 5rem;"></i>
        </div>
        <div class="info1 bg-dark p-2 rounded-2 d-flex flex-column align-items-center justify-content-center gap-3">
            <h1>Why verify <i class="fa-solid fa-question" style="color: #00ffcc;"></i></h1> 
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci ipsam possimus voluptas doloremque voluptatem quasi! Consectetur totam voluptatum harum! Delectus error architecto vero illum cupiditate iste autem! Rerum, reprehenderit aut. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi distinctio unde blanditiis libero nulla. Blanditiis, quam vel doloribus ullam eveniet sit necessitatibus at culpa ut iste animi placeat doloremque debitis?
            Provident iusto pariatur eaque ab, ratione temporibus at autem non esse, consequuntur iure nobis excepturi consectetur! Deleniti, rerum tempora deserunt, debitis magni praesentium officia, cupiditate eveniet delectus atque animi adipisci!
            Nulla officia, obcaecati tempore sunt deserunt amet nobis reprehenderit consequuntur error nihil esse magnam facilis quibusdam perferendis impedit eius est! Impedit animi exercitationem nostrum maiores numquam ducimus minus quas natus?</p>

            <h1>Verification Features</h1>
            <div class="4features d-flex w-100 justify-content-start fs-5">
                <ul style="list-style: decimal; color: rgb(32, 227, 162);" class="d-flex flex-column justify-content-start flex-wrap gap-2 w-100 fw-semibold">
                    <li class="tjustify-content-start">Upload Podcast</li>
                    <li class="tjustify-content-start">Upload Audio Stories</li>
                    <li class="tjustify-content-start">Send chat requests to verified creators (artists).</li>
                    <li class="tjustify-content-start">Hold Virtual Concerts</li>
                </ul>

            </div>
        </div>
        <div class="info1 bg-dark p-2 rounded-2">
            <h1>What do you need to do <i class="fa-solid fa-question" style="color: #00ffcc;"></i></h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci ipsam possimus voluptas doloremque voluptatem quasi! Consectetur totam voluptatum harum! Delectus error architecto vero illum cupiditate iste autem! Rerum, reprehenderit aut. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi distinctio unde blanditiis libero nulla. Blanditiis, quam vel doloribus ullam eveniet sit necessitatibus at culpa ut iste animi placeat doloremque debitis?
                Provident iusto pariatur eaque ab, ratione temporibus at autem non esse, consequuntur iure nobis excepturi consectetur! Deleniti, rerum tempora deserunt, debitis magni praesentium officia, cupiditate eveniet delectus atque animi adipisci!
                Nulla officia, obcaecati tempore sunt deserunt amet nobis reprehenderit consequuntur error nihil esse magnam facilis quibusdam perferendis impedit eius est! Impedit animi exercitationem nostrum maiores numquam ducimus minus quas natus?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci ipsam possimus voluptas doloremque voluptatem quasi! Consectetur totam voluptatum harum! Delectus error architecto vero illum cupiditate iste autem! Rerum, reprehenderit aut. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi distinctio unde blanditiis libero nulla. Blanditiis, quam vel doloribus ullam eveniet sit necessitatibus at culpa ut iste animi placeat doloremque debitis?
                    Provident iusto pariatur eaque ab, ratione temporibus at autem non esse, consequuntur iure nobis excepturi consectetur! Deleniti, rerum tempora deserunt, debitis magni praesentium officia, cupiditate eveniet delectus atque animi adipisci!
                    Nulla officia, obcaecati tempore sunt deserunt amet nobis reprehenderit consequuntur error nihil esse magnam facilis quibusdam perferendis impedit eius est! Impedit animi exercitationem nostrum maiores numquam ducimus minus quas natus?</p>

        </div>
        <form action="#" method="post" class="form-control bg-dark d-flex align-items-center justify-content-center">
            <button type="submit" class="btn btn-outline-info text-black" style="background-color: #00ffcc;">Verify</button>
        </form>

    </div>
</body>
</html>