


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mushify-Discover</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        body{
        background-color: rgb(0, 0, 0);
        color:white;
        

        
        }
            
        
        
    </style>
</head>
<body style="font-size: 1rem;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
        <div class="container-fluid bg-dark">
          <a class="navbar-brand" href="#">Mushify</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 bg-dark">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home <i class="fas fa-solid fa-house"></i></a>
              </li>
              
              {% if current_user.is_authenticated %}
                {% if current_user.is_creator==True %}
                <li class="nav-item"><a class="nav-link" href="/creator/dashboard">Creator-Dashboard</a></li>
                <li class="nav-item"><a class="nav-link" href="/logout">LogOut</a></li>
                {% elif current_user.is_creator==False %}
                <li class="nav-item"><a class="nav-link" href="/user/dashboard">User Dashboard</a></li>
                <li class="nav-item"><a class="nav-link" href="/logout">LogOut</a></li>
                {% endif %}
                
              {% else %}
                  <li class="nav-item"><a class="nav-link" href="/loginuser">Login User</a></li>   
                  <li class="nav-item"><a class="nav-link" href="#musicllm">Music LLM</a></li>
                  <li class="nav-item"><a class="nav-link" href="#virtualconcerts">Virtual Concerts in Metaverse</a></li>
              {% endif %}
              <a href="{{url_for('views.mushifyllm_view')}}"><li class="nav-link">Ask Mushify Bot <i class="fas fa-duotone fa-robot fa-fade fa-lg ms-2" style="--fa-primary-color: #ffffff; --fa-secondary-color: #00e4f5;"></i></li></a>
              
              
             
                        
                
                
              <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li> -->
              <!-- <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
              </li> -->
            </ul>
          </div>
        </div>
    </nav>
    <br>

    <div class="main-container col-md-12 container-fluid d-flex bg-black flex-column align-items-center justify-content-center mt-3" style="height: 80vh;">
        
      <div class="img1 w-75 bg-dark mt-5 d-flex col-md-12 flex-column flex-wrap" style="background: linear-gradient(to bottom, rgba(52, 92, 74, 0.203), black) ;   border-radius: 2rem;">
        
          <div class="content-area container-fluid d-flex align-items-center justify-content-around p-4 gap-4 w-100">
              <a href="/signupuser"><button class="btn btn-warning text-sm-md fs-6">Register Today</button></a>
              <a href="/signupuser"><button class="btn btn-primary fs-6" >Register as Creator</button></a>

          </div>
          
      </div>

      <h3 class="mt-3 border-bottom">DISCOVER MUSIC OF YOUR TASTE</h3>
      
      <div class="img2 w-100 h-100  col container-fluid d-flex align-items-center justify-content-center flex-wrap mb-5">
        
        
        <img src="/static/images/ai-generated-ai-generative-music-audio-volume-spectrum-graph_95211-2253.jpg" alt="" class="image-fluid w-50" style="box-shadow: 0.2rem 2rem 5rem rgba(87, 33, 10, 0.403) ; border-radius: 2rem;">
        <button class="btn btn-outline-success p-3 mr-md-3 relative row-md-2">Discover Your Passion For Music</button>
        
      </div>

  </div>
  <div class="img3 d-flex justify-content-center align-items-center mt-5 p-2 flex-wrap rounded-2 gap-2" style="background-color: rgb(255, 255, 255); background-blend-mode: lighten;" id="musicllm">
    <div class="text-black d-flex align-items-center justify-content-center flex-column flex-wrap mt-3 d-inline" style="font-size: 2vw;">
      <h1 class="d-block fs-3"  style="border-bottom: 2px solid black;">Discover Next-Gen Music LLMs</h1>
      <br>
      <p id="element3" class="text-muted fw-bold mt-3 fs-3 p-2 d-inline w-100"> </p>
      <br>
    </div>
    <div class="img3">
      <img src="/static/images/musicimg2.jpg" alt="" srcset="" class="image-fluid card-img-top" style="background-blend-mode: lighten; width: 350px;">

    </div>
    
    

  </div>
  <div class="img3 d-flex flex-wrap p-5 justify-content-around align-items-center bg-dark gap-3">
    <div class="imgcontainer d-flex justify-content-center align-items-center">
      <img src="/static/images/musicimg3.jpg" alt="" srcset="" class="image-fluid rounded-3" style="box-shadow: -2rem -2rem 10rem rgb(73, 3, 96); width: 200px; height: 200px;" >
    </div>
    <!-- <img src="/static/images/musicimg3.jpg" alt="" srcset="" class="h-50 w-50" style="box-shadow: -2rem -2rem 10rem rgb(73, 3, 96);" > -->
    <div class="text-white d-flex flex-column justify-content-center align-items-center flex-wrap mt-3">
      <h3 id="multipleStrings" class=" mb-5 d-flex flex-wrap align-items-center d-block" style="border-bottom: 2px solid white;">Get Your Own Ai Assisted Virtual Studio</h3>
      <div class="data w-100 p-2 ">
        <h4 class="text-white d-inline text-break" id="element"></h4>
        <br>
        <br>
        <h4 id="element2" class="text-sm-md w-100 d-inline"></h4>

      </div>
      

    </div>
    

  </div>
  <div class="img3 d-flex justify-content-around ml-4 mt-5 p-3 flex-wrap gap-4" id="virtualconcerts">
    <div class="text-white d-block d-flex align-items-center justify-content-center flex-wrap p-3">
      <h3 style="border-bottom: 2px solid white;" class="mt-3 d-block fs-3 p-2">Host Your Own Ai assisted Virtual Concerts with AI</h3>

    </div>
    
   
    <div class="text-white p-3" style=" background-color: rgba(21, 23, 23, 0);">
      <img src="/static/images/musicimg4.jpg" alt="" srcset="" class="image-fluid" style="box-shadow: 0rem -1rem 10rem rgb(142, 112, 5); border-radius: 2rem; width: 250px; height: 252px;" >
      
            
    </div>

    </div>


    <div class="img3 h-100 w-100 d-flex flex-row justify-content-around ml-4 mt-5 p-5 bg-dark flex-wrap">
      <h2>Our Users</h2>
      
    </div>



    
    <footer class="py-5 mt-5 d-flex flex-column w-100 align-items-center justify-content-center flex-wrap">
      <div class="row border w-100 d-flex justify-content-around p-5">
        <div class="col-2 col-md-2 mb-3 ml-3 d-flex flex-column align-items-center justify-content-center">
          <h5>Section</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
          </ul>
        </div>
  
  
        <div class="col-6 col-md-2 mb-3 d-flex flex-column align-items-center justify-content-center">
          <h5>Section</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
          </ul>
        </div>
  
        <div class="col-md-5 offset-md-1 mb-3">
          <form>
            <h5>Subscribe to our newsletter</h5>
            <p class="fs-6">Monthly digest of what's new and exciting from us.</p>
            <div class="d-flex flex-column flex-sm-row w-100 gap-2">
              <label for="newsletter1" class="visually-hidden">Email address</label>
              <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
              <button class="btn btn-primary" type="button">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
  
      <div class="d-flex flex-column align-items-center justify-content-center my-4 w-100 fs-6">
        <p>© 2023 Mushify, Inc. All rights reserved.</p>
        <ul class="list-unstyled d-flex align-items-center justify-content-around w-50">
          <li class=""><a class="link-dark" href="#"><i class="fa-solid fa-x" style="color: #ffffff; font-size: medium;"></i></a></li>
          <li class=""><a class="link-dark" href="#"><i class="fa-brands fa-instagram" style="color: #de1b83; font-size: medium;"></i></a></li>
          
          <li class=""><a class="link-dark" href="#"><i class="fa-brands fa-spotify" style="color: #0dce57; font-size: medium;"></i></a></li>
          <li class=""><a class="link-dark" href="#"><i class="fa-brands fa-facebook" style="color: #2397d1; font-size: medium;"></i></a></li>
        </ul>
      </div>
    </footer>















    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
<script>
    var typed = new Typed('#element', {
      strings: ['<i>Create</i> Ai Assisted Music.','Clone Voices with Ai...' , 'Create Out Of the Box text to Music using Ai.  '],
      typeSpeed: 90,
      backSpeed:50,
      loop: true,
      showCursor: false,
    });
    var typed = new Typed('#element2', {
      strings: ['Make AI write lyrics for you.','Make tracks with a click.' , 'Automated Music video generation based on Lyrics  '],
      typeSpeed: 90,
      loop: true,
      showCursor: false,
    });
    var typed = new Typed('#element3', {
      strings: ['Convert Text to Music.','Build your own music llm with custom artist personality.','Choose From a Variety Of trained Artist Models', 'Make Them Write Music for you'],
      typeSpeed: 90,
      loop: true,
      showCursor: false,
    });
  </script>
        
  </body>



      










</html>

